.polaroid {
  background: #fffef8;
  padding: 1rem 1rem 3rem 1rem;
  width: calc(25% - 2rem);
  cursor: pointer;
  margin: 1rem;
  box-shadow: 0 0 0.45rem 0.15rem rgba(18,7,3,.25);
}

.imageContainer {
  width: 100%;
}

.imageContainer img {
  width: 100%;
}

.caption { 
  text-align: center;
}

@media screen and (max-width: 800px) {
  .polaroid {
    width: calc(33.3333% - 2rem);
  }
}

@media screen and (max-width: 600px) {
  .polaroid {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 375px) {
  .polaroid {
    width: calc(100% - 2rem);
  }
}